
            
extends layouts/login.pug 

block content 
    .logincontainer 
        h1 LOGIN 
        form(method="post")  
            input#username(type="text", name="username" placeholder="name or email")
            input#password(type="text", name="password" placeholder="password")
            input(type="button", value="login")
        a(href="./register") register? create an account 