extends layouts/pschatlayout.pug

block content   

        .divforsearch
            .newsearchbarcontainer 
                label(for="userSearchTextbox") To:
                input(class="newsearchbox" type="text",val=searchtext, placeholder="      search for user or posts")
            .searchedusers
                
            .divchatbutton
                button#createchatbutton(disabled) create 
                
        .supplychats

block scripts 
    script(src="/functions/chats.js") 