extends ./layouts/notification-layout.pug


block content   

    .chattitlecontainernew
        .chatheadings
            h1 #{title}
            .chatsearchcontainernew
                a(href='/chats/search') 
                    i.fa-solid.fa-magnifying-glass.fa-lg

            .chatcreatebuttonnew   
                a(href='/chats/newChat') 
                    i.fa-solid.fa-plus


    .supplynew


    

block scripts 
    script(src="/functions/messages.js")   


