.mainsection::-webkit-scrollbar {
  display: none;
}

.mainsection {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.mainsectionnoti::-webkit-scrollbar {
  display: none;
}

.mainsectionnoti {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
*{
    padding:0;
    margin:0;
    outline: none !important;
}
ul{
    margin:0;
    padding:0;
}
a{
    color:inherit;
}
button:focus{
    outline:none;
}
html{
    width:100%;
    min-height:100%;
    height:100%;
    margin:0;
    overflow-y:hidden;
    overflow-x: hidden;
    padding:0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.row{
    display: flex;
    flex-direction: row;
    height: 100%;
}

a:hover, a:visited, a:link, a:active
{
    color:black;
    text-decoration: none;
}
h1,p{
    font-size:1.25em;
    font-weight:100%;
}
p,h1,h2,h3,h4,h5,h6,span{
    margin:0;
    padding:0;
}

nav{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    height:100%;
}

nav a{
    color:black;
    padding:0.6em;
    font-size:1.25em;
    width:2.5em;
    height:2.5em;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}


nav a:hover{
    color:white;
    background-color:grey;
    border-radius:50%;
}

.mainsection{
    padding:0;
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
}
.mainsectionnoti{
    padding:0;
    display: flex;
    flex-direction: column;
    margin-bottom:70px;
}
.titlecontainer{
    position:sticky;
    z-index: 1;
    border-left:0.1em solid grey ;
    border-right:0.1em solid grey ;
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom : 0.1em solid grey;
    flex-shrink: 0;
    top:0;
    height:2rem;
    background-color: #e6e6e6;
}
.profilesupply{
    z-index: 2;
}
.supply{
    border-left:0.1em solid grey;
    border-right:0.1em solid grey;
    margin-top: 2rem;
    width: 100%;
    position: absolute;
    height: 100%;
    overflow-y: auto;
}

.supplycomment{
    margin-top: 2rem;
    width: 100%;
    position: absolute;
    height: 100vh;
    overflow-y: auto;
}
.supplyprofile{
    margin-top: 416px;
    width: 100%;
    position: absolute;
    height: 100vh;
    overflow-y: auto;
}
.supplysearch{
    margin-top: 150px;
    width: 100%;
    position: absolute;
    height: 100vh;
    overflow-y: auto;
}
.extra a{
    color:black;
    
}

.extra a{
    color:black;
    padding:0.6em;
    font-size:1.25em;
    width:2.5em;
    height:2.5em;
    display:flex;
    align-items:center;
    justify-content:center;
}

.extra a:hover{
    color:white;
    background-color:grey;
    border-radius:50%;
}

.postcontainer{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    border-bottom:0.1em solid grey ;
    flex-shrink:1;
}

.imgcontainer{
    width:10%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0.6em;
}
.imgcontainerff{
    margin-top:0.2em;
    width:20%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0.6em;
}
.imgcontainerff img{
    width:60%;
    height:3em;
    border-radius:50%;
}

.imgcontainer img{
    width:60%;
    height:3em;
    border-radius:50%;
}

.textcontainer{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    flex-shrink:1;
    font-size:1rem;
    width:80%;
    padding:0;
    margin:0;
}


.retweetcontainer{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
    width:100%;
}
.retweetcontainer span{
    width:100%;
    padding-left: 9.8%;
    margin-top:0.5%;
}

.post{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    flex-shrink:0;
    flex-wrap:wrap;
}

.infoofpost{
    min-height:4em;
    flex-basis:100%
}

.username{
    padding-top:0.5em;
    height:50%;
    font-weight: bold;
}
.usernameff{
    width:70%;
    padding-top:1.5em;
    height:50%;
    font-weight: bold;
}

.info{
    height:50%;
}
.contentcontainer{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:flex-start;
    flex-shrink:1;
    flex-basis:100%;
    font-size:1rem;
}
.contentpost{
    flex-basis:100%;
    flex-shrink:1;
    padding-bottom:0.5em;
    padding-top:0.2em;
}
.contentpost p{
    width:100%;
    height:100%;
}
.imageposted{
    padding-top:0.2em;
    padding-bottom:0.2em;
    padding-right:0.2em;
    display:flex;
    flex-basis:auto;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:200px;
    margin:0; 
}
.imageposted img{
    display:none;
}
.imageposted img.has{
    display:block;
    width:100%;
    height:100%;
}
.postFooter{
    display:flex;
    flex-direction:row;
    width:30%;
    align-items:center;
    justify-content:space-between;
    margin-top:0.5em;
    margin-bottom:0.5em;
    padding:0;
}
.postButtonContainer button{
    border:none;
    border-radius:10%;
    color:grey;
    outline:none;
    background-color:white;
    position:relative;
    width:2.8em;
    text-align:start;
/*     text-align:start;
    width:40px; */
}
.postButtonContainer button span{
    position:relative;
    width:0.2em;
}
a{
    outline:none;
}
button{
    background-color:white;
}
button i,
button span{
    pointer-events: none;
}
.postButtonContainer.red button.active{
    color: #00acee;
}
.postButtonContainer.green button.active{
    color: #00acee;
}
.optionscontainer{
    width:10%;
    margin-top:10px;
    padding:0.2rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.optionscontainer button{
    display:flex;
    width:30%;
    height:10%;
    flex-direction:column;
    align-items:center;
    border:none;
    background-color:white;
    outline:none;
}

.textcontainerp{
    padding:0.8rem;
    font-size:1rem;
    width:80%;
    display:flex;
    flex-direction:column;
}

.textareatobepostedp{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-right:0.5rem;
}
.textareatobepostedp textarea{
    width:100%;
    resize:none;
    border:none;
    font-size:19px;
    outline:none;
}

.imagepostedp{
    width:100%;
    display:flex;
    flex-direction:column;
}

button[disabled]{
    background-color:lightgrey;
}
.imagepostedp button{
    width:10%;
    margin-left:1.4em;
}

.imagecommentp{
    width:100%;
    display:flex;
    flex-direction:column;
}

.imagecommentp button{
    width:10%;
    margin-left:1.4em;
}

.buttonposting{
    display:flex;
    flex-direction:column;
    width:20%;
    margin:0.5rem;
    margin-left:0;
}
.buttonposting button{
    border:none;
    border-radius:10%;
    color:black;
    outline:none;
}

.modal-dialog.modal-dialog-centered {
  max-width: 500px;
}

.modal-dialog{
    max-width: 500px;
    max-height:500px;
}
.modal-body {
  max-height: 500px;
  overflow-y: auto;
}

.modal-footer{
    display:flex;
    flex-direction:column;
}

.imagepreview {
  max-height: 400px;
  overflow: hidden;
}

.postpicpreview {
  max-height: 400px;
  overflow: hidden;
}

.commentpicpreview {
    max-height: 400px;
    overflow: hidden;
}
/*  */


.modal-content{
    background-color: #34373a;
}

.pinpost,.deletepostbutton{
    background-color: #5a6268;
    width:100%;
    color:white;
    height:40px;
    border-radius:7px;
}
.pinnedtweet{
    padding-left:8%;
}

.btn.btn-secondary{
    width:100%;
}

.infoofcomment{
    width:100%;
    height:20%;
}
.textareatobecommentedp{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-right:0.5rem;
}
.textareatobecommentedp textarea{
    width:100%;
    resize:none;
    border:none;
    font-size:19px;
    outline:none;
}
.imagecommentp{
    width:100%;
    display:flex;
    flex-direction:column;
}
.buttoncommenting{
    display:flex;
    flex-direction:column;
    width:20%;
    margin-top:1rem;
    margin-bottom:1rem;
}
.buttoncommenting button{
    border:none;
    border-radius:10%;
    color:black;
    outline:none;
}
#submitcommentbutton:disabled{
    background-color:lightgrey;
}

.mainpost{
    max-height:100%;
    max-width:100%;
}

.textcontainerp{
    padding:0.8rem;
    font-size:1rem;
    width:80%;
}

.textcontainerp img{
    width:100%;
    height:100%;
}

.coverpicture{
    height:200px;
    width:100%;
    background-color:#1DA1F2;
    position:relative;
}
.coverpic{
    position:absolute;
    z-index:10;
    height:200px;
    width:100%;

    display:flex;
    align-items:center;
    justify-content:center;
}

.coverpic img{
    height:100%;
    width:100%;
}
.profilepic{
    width:120px;
    height:120px;
    margin-left:15px;
    position:absolute;
    z-index:999;
    margin-top:140px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.profilepic img{
    width:100%;
    height:100%;
    border-radius:50%;
    border:4px solid white;
    background:aliceblue;
}

.profilecontainer .messagesbutton{
    text-align:right;
    padding:10px;
    min-height:60px;
}

.profilemessagebutton,
.follow{
    border:1px solid #1DA1F2;
    color:#1DA1F2;
    font-weight:bold;
    padding:5px 15px;
    border-radius:60px;
    display:inline-block;
    margin-left:10px;
}

.profilemessagebutton:hover,
.follow:hover{
    background-color:lightsteelblue;
    
}

button.follow.notfollowing{
    background-color:#1DA1F2;
    color:white
}

.userdetails{
    display:flex;
    flex-direction:column;
    padding-left:20px;
}

.profilename{
    font-weight:bold;
}

.followerscontainer .value {
    font-weight: bold;
    margin-right: 5px;
}

.followerscontainer span:not(.value) {
    color: var(--greyText);
}

.followerscontainer a {
    margin-right: 15px;
}

.followerscontainer a:hover {
    border-bottom: 1px solid #000;
}

.tabcontainer{
    display:flex;
    flex-direction:row; 
    align-items:center;
    justify-content:center;
    border-bottom:1px solid lightgrey;
    height:50px;
}
.tabcontainer a{
    display:flex;
    width:50%;
    height:100%;
    align-items:center;
    justify-content:center;
    font-weight:800;
}
.tabcontainer a:hover{
    background-color:lightgrey;
}
.tabcontainer a.active{
    color:#1DA1F2;
    border-bottom:2px solid #1DA1F2;
}

.profiletab{
    display:flex;
    flex-direction:row;
    width:100%;
    height:140px;
    border-bottom:1px solid black;
}

.profileimg{
    width:10%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0.4em;
    margin-top:3%;
}

.profileimg img{
    
    width:65%;
    height:20%;
    border-radius:50%;
}

.usernameprofile{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    flex-shrink:1;
    font-size:1rem;
    width:60%;
    padding:0;
    margin-top:4.5%;
    font-weight:bolder;
}

.buttonprofile{
    width:30%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:4.5%;
    right:0;
}

.profilepicbutton{
    position:absolute;
    background-color:transparent;
    border:none;
    font-size:35px;
    color: rgba(0,0,0,0.5);
    display:none;
}

.coverpicbutton{
    position:absolute;
    background-color:transparent;
    border:none;
    font-size:35px;
    color: rgba(0,0,0,0.5);
    display:none;
}

.profilepicbutton i{
    color:#817878
}

.profilepic:hover .profilepicbutton{
    display:block;
}

.coverpic:hover .coverpicbutton{
    display:block;
}

.imagepreview{
    max-width: 200px;
    width:100%;
    display:block;
    max-width:100%;
}


.postpicpreview{
    max-width: 200px;
    width:100%;
    display:block;
    max-width:100%;
}

.cvpreview,.commentpicpreview{
    max-width: 200px;
    width:100%;
    display:block;
    max-width:100%;
}
.searchbarcontainer{
    display:flex;
    flex-direction:row;
    padding:0.6em;
    margin-bottom:10px;
}

.searchbarcontainer i{
    margin: 0.85em 0.3em 0 0;
}

/* newmessagepage */

.divforsearch{
    display: flex;
    flex-direction: column;
    min-height: 0;
    border-bottom: 1px solid #aba5a5;
}
.newsearchbarcontainer{
    display: flex;
    align-items: center;
    padding: 0.6em;
    margin-bottom: 10px;
    min-height: 50px;
}

.cancel i{
    font-size:15px;
}
.cancel{
    height:25px;
    margin-right:5px;
}

.newsearchbarcontainer label{
    margin-right: 10px;
    margin-top:9px;
}

.selectedusers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
    
}
.cancel{
    border:none;
    background-color:lightblue;
}
.cancel:focus{
    outline:none;
}
.cancel i{
    font-size:14px;
}

.selectedUser {
    display: inline-block;
    padding: 5px 10px;
    margin:5px 2px 1px 5px;
    background-color: lightblue;
    border-radius: 10px;
}
  

.newsearchbox{
    flex: 1;
    min-width: 90%;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ececec;
    font-size: 17px;
    padding: 10px;
     border:none;
}

.divchatbutton{
    text-align: center;
    margin-bottom:10px;
}

#createchatbutton{
    border:none;
    width:56px;
    height:35px;
    border-radius:10px;
    color:black;
}
.searchbox{
    width:100%;
    height:35px;
    border:1px solid black;
    border-radius:50px;
    background-color:#ececec;
    font-size:17px;
    padding: 10px;
}


/* header part */



/*chats page  */
.supplychats{
    display:flex;
    flex-direction:column;
    border-left:1px solid grey;
    border-right:1px solid grey;
}

.onechat{
    height:80px;
    max-width:100%;
    display:flex;
    flex-direction:row;
    border-bottom:1px solid grey;
}
.onechat:hover{
    cursor:pointer;
    background-color:#dad8d8;
}

.notify{
    height:80px;
    max-width:100%;
    display:flex;
    flex-direction:row;
    border-bottom:1px solid grey;
}

.notify *{
    pointer-events:none;
}

#markallasread{
    background-color:transparent;
    border:none;
    
}

.latestnotify{
    width:100%;
    height:100%;
    color:#696363;
    display: flex;
    overflow-x:hidden;
    text-overflow:ellipsis;
}

.latestnotify span{
    width:100%;
    margin-top:2%;
    margin-left:2%;
}


.latestnotify text{
    overflow-x:hidden;
    text-overflow:ellipsis;
}
.chatimg{
    flex-shrink:0;
    width:10%;
    height:100%;
    position:relative;
}

.chattab{
    padding-left:1.5%;
    flex-shrink:0;
    display:flex;
    flex-direction:column;
    width: 90%;
    height:100%;
}
.chatimg img{
    width:55%;
    border-radius:50%;
    position:absolute;
    right:35%;
    top:35%;
    border:3px solid white;
}

.notiimg{
    display:flex;
    flex-shrink:0;
    width:10%;
    height:100%;
}


.notiimg img{
    margin-left:20%;
    margin-bottom:50%;
    margin-top:10%;
    width:65%;
    hieght:15%;
    border-radius:50%;
    border:3px solid white;
}


.chatimg img:first-of-type{
    top:10%;
    right:15%;
}

.chatname{
    max-width:100%;
    height:50%;
    font-weight:600;
    display: flex;
    align-items: center;
}

.latestmessage{
    height:50%;
    color:#696363;
    display: flex;
    align-items: center;
    overflow-x:hidden;
    text-overflow:ellipsis;
}


.latestmessage text{
    overflow-x:hidden;
    text-overflow:ellipsis;
}


/*personal chat  */




/* pc */
.cwrapper{
    margin-top:70px;
    display: flex;
    flex-direction: column;
    height: 90%;
}
.crow{
    display:flex;
    flex-direction:row;
    height:100%;
}
header{
    position:fixed;
    z-index:999;
    top:0;
    width:100%;
    display:flex;
    flex-direction:row;
    height:70px;
    background-color:#d7e6fa;
}
.chattitlecontainer{
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    height:70px;
}


.chattitlecontainer h1{
    height:100%;
    display: flex;
    align-items: center;
    padding-left:17%;
    padding-right:33.3333334%;
    
}

.chattitlecontainer .chatsearchcontainer{
    height:100%;
    display: flex;
    align-items: center;
    padding-right:3%;
}

.chattitlecontainer .chatsearchcontainer a,.chattitlecontainer .chatcreatebutton a{
    cursor:pointer;
}

.chatsearchcontainer i,.chatcreatebutton i{
    font-size:23px;
}

.chattitlecontainer .chatcreatebutton{
    background-color:#d7e6fa;
    height:100%;
    display: flex;
    align-items: center;
    padding-right:3%;
}

.mainsectionnew::-webkit-scrollbar {
  display: none;
}

.mainsectionnew {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.mainsectionnew{
    flex: 1;
    padding: 0;
    border:0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    
}
.chattitlecontainernew{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
}

.scrollable{
    width: 100%;
    position: relative;
    overflow-y: auto;
}


.chattitlecontainernew .chatheadings{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    z-index:1;
}


.chattitlecontainernew .chatheadings h1{
    flex: 1;
    padding-left: 7%;
    font-size: 24px;
}

.chattitlecontainernew .chatheadings .chatsearchcontainernew{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chattitlecontainernew .chatheadings .chatsearchcontainenewr a,.chattitlecontainernew .chatheadings .chatcreatebuttonnew a{
    cursor:pointer;
}

.chatsearchcontainernew .chatheadings i,.chatcreatebuttonnew .chatheadings i{
    font-size:23px;
}

.chattitlecontainernew .chatheadings .chatcreatebuttonnew{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .supply{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
} */
.supplynew{
    border-left:0.1em solid grey;
    border-right:0.1em solid grey;
    margin-top: 70px;
    width: 100%;
    position: absolute;
    height: 100%;
    overflow-y: auto;
}

.supplynew::-webkit-scrollbar {
  display: none;
}


.supplynew {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.supplyprofile::-webkit-scrollbar {
    display: none;
  }
  
  .supplyprofile {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
.supplycomment::-webkit-scrollbar {
    display: none;
  }
  
  .supplycomment {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

  .supplysearch::-webkit-scrollbar {
    display: none;
  }
  
  .supplysearch{
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

.supply::-webkit-scrollbar {
    display: none;
  }
  
  .supply {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
/*pc  */

.chat{
    display:flex;
    flex-direction:column;
    min-height:100%;
    flex:1;
    border-left:0.1em solid lightgrey ;
    border-right:0.1em solid lightgrey ;
    flex-basis:0;
}
.chatheader{
    display:flex;
    flex-direction:row;
    align-items:center;
    border-bottom:1px solid black;
    padding:1em;
}

#personalchatname{
    width:100%;
    padding:0 5px;
    overflow-x:hidden;
    text-overflow:ellipsis;
    font-weight: 800;
    font-size: 20px;
}
#personalchatname:hover{
    border:1px solid lightgray;
    cursor:text;
}


.chatinside{
    flex:1;
    display:flex;
    flex-direction:column;
    overflow-y:hidden;
}


.chatinside .chatfooter{
    display:flex;
    padding:1em;
    flex-shrink:0px;
}

.chatinside .chatfooter textarea{
    flex:1;
    resize:none;
    background-color:rgba(0,0,0,0.05);
    border-radius:18px;
    border:none;
    padding: 8px 12px;
    height: 38px;
}
.totalchatcontainer{
    display:flex;
    flex-direction:column;
    height:100%;
}
textarea::-webkit-scrollbar{
    display:none;
}
.chatinside .chatfooter button{
    background:none;
    border:none;
    background-color:transparent;
    color:#00b5ff;
    font-size:24px;
}




.chatImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 10px;
}

.chatImagesContainer img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.chatImagesContainer .userCount {
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #fff;
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount {
    margin-left: -10px;
}

#chatNameTextbox {
    width: 100%;
}

#chatnameinput{
    height:50px;
    padding:12px;
    font-size:20px;
}

.showmessages{
    flex:1;
    display:flex;
    flex-direction:column;
    overflow-y:auto;
    padding:1em;
    padding-bottom:0;
    
}
.showmessages .messages{
    padding-bottom:2px;
    display:flex;
    align-items:flex-end;
    flex-shrink:0;
    list-style:none;
}

.showmessages .messages .messagebody{
    width:100%;
    word-wrap:break-word;
    background-color:lightgray;
    padding:6px 12px;
    border-radius:18px;
    font-size:15px;
    
}

.showmessages .messages .msgcontainer{
    display:flex;
    flex-direction:column;
    max-width:55%;
}


.showmessages .messages.mine .msgcontainer{
    align-items:flex-end;
}

.showmessages .messages.others .msgcontainer{
    align-items:flex-start;
}

.showmessages .messages.mine{
    flex-direction:row-reverse;
    
}

.showmessages .messages.mine .messagebody{
    background-color:#1da1f2;
    color:white;
}


.showmessages .messages.mine.first .messagebody{
    border-bottom-right-radius:2px;
}

.showmessages .messages.mine:not(.first):not(.last) .messagebody{
    border-bottom-right-radius:2px;
    border-top-right-radius:2px;
}

.showmessages .messages.mine.last.first .messagebody{
    border-top-right-radius:18px;
    border-bottom-right-radius:18px;
}

.showmessages .messages.mine.last:not(.first) .messagebody{
    border-top-right-radius:2px;
}

.showmessages .messages.others.first .messagebody{
    border-bottom-left-radius:2px;
}

.showmessages .messages.others:not(.first):not(.last) .messagebody{
    border-bottom-left-radius:2px;
    border-top-left-radius:2px;
}

.showmessages .messages.others.last.first .messagebody{
    border-top-left-radius:18px;
    border-bottom-left-radius:18px;
}

.showmessages .messages.others.last:not(.first) .messagebody{
    border-top-left-radius:2px;
}

.sendername{
    color:rgba(0,0,0,0.4);
}

.showmessages .chatimgcontainer{
    height:24px;
    width:24px;
    margin-right:7px;
}

.showmessages img{
    height:100%;
    border-radius:50%;
    vertical-align:bottom;
}

.showmessages .messages.last{
    margin-bottom:7px;
}

.loadingspin{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
}

.loadingspin img{
    width:50%;
    max-width:75px;
    margin-top:30%;
}

.typing{
    width:100%;
    display:flex;
    align-items:center;
    height:30px;
    display:none
    
}

.typing img{
    background-color:#e9ecef;
    padding:6px 12px;
    border-radius:18px;
    width:40px;
    height:100%;
    margin-left:3em;
}

.notify.active{
    background-color:#90d3e9
}

#notificationsbadge.active,
#messagesbadge.active{
    background-color:#ff7979;
    height:40%;
    width:40%;
    right:8%;
    top:2%;
    border-radius:50%;
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
}

#notificationlist{
    position:fixed;
    top:0;
    right:100px;
    z-index:1200;
    width:450px;
    background-color:white;
    box-shadow:0 1px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
}

#notificationlist .active{
    background-color:white;
}

#notificationlist .messages{
    width:450px;
    padding-bottom:2px;
    height:100px;
    display:flex;
    align-items:flex-end;
    flex-shrink:0;
    list-style:none;
    overflow-y:auto;
}

#notificationlist .chatimgcontainer{
    margin-top:0;
    margin-left:0;
    margin-right:7px;
    height:100%;
    width:20%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#notificationlist .chatimgcontainer img{
    height:50%;
    border-radius:50%;
}

#notificationlist .msgcontainer{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
}

#notificationlist .messages .messagebody{
    width:70%;
    word-wrap:break-word;
    background-color:lightgray;
    padding:6px 12px;
    border-radius:18px;
    font-size:15px;
    overflow-x:auto;
}

#notificationlist .messages .msgcontainer{
    height:100%;
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#notificationlist .sendername{
    width:100%;
    height:30%;
    display:flex;
    justify-content:center;
    color:rgba(0,0,0,0.4);
} 

.maincon{
    height:70%;
    display:flex;
    flex-direction:row;
    width:100%;
}
.sentname{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    width:30%;
}

.chattab .maincon .messagebody{
    width:100%;
    margin-right:1%;
    display:flex;
    align-items:center;
    font-size:15px;
    overflow-y:hidden;
    overflow-x:hidden;
    text-overflow:ellipsis;
}

.chattab .sendername{
    display:flex;
    justify-content: center;
}

.chattab .maincon .sentname{
    display: flex;
    justify-content: center;
}