mixin createpostcontent(user)
    .postcontainer  
        .imgcontainer 
            img(src='${user.profilepicture}', alt="default")
        .textcontainer
            .infoofpost
                .username #{user.firstname}
                .info #{user.email}
            .textareatobepostedp
                textarea#textareatobeposted(placeholder="write something!!",name="postingtext", cols="", rows="1")
            .imagepostedp
                img(src=user.imagetobeposted, alt="posting picture")
                //- using multer we need to do this
            .buttonposting  
                button#submitpostbutton Post
        
        .optionscontainer
            a(href="/postsettings")
                i.fa-solid.fa-ellipsis
        
    
